.app{
  width: 100%;
  min-height: 100vh;
  /* background-color: #e8edf5; */
  /* background-color: #e8edf5; */
  /* background-image: linear-gradient(45deg, #e8edf5 0%, #f7f8f9 100%); */

}

.main {
  padding: 75px 0 0 0;
  margin: 0 0 200px 250px;
}
